apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cluster-settings
  namespace: flux-system
spec:
  refreshInterval: "15m"
  secretStoreRef:
    name: global-secret-store
    kind: ClusterSecretStore
  target:
    name: cluster-settings
    template:
      data:
        domain_name: "{{ .domain_name }}"
        ingress_ip: "{{ .ingress_ip }}"
        homeassistant_ip: "{{ .homeassistant_ip }}"
        wg_easy_ip: "{{ .wg_easy_ip }}"
        rabbitmq_ip: "{{ .rabbitmq_ip }}"
        minecraft_ip: "{{ .minecraft_ip }}"
        timezone: "{{ .timezone }}"
        email_address: "{{ .email_address }}"
        nfs_server_ip: "{{ .nfs_server_ip }}"
        nfs_path: "{{ .nfs_path }}"
        omada_controller_ip: "{{ .omada_controller_ip }}"
        nix_cache_lb_ip: "{{ .nix_cache_lb_ip }}"
  dataFrom:
    - extract:
        key: cluster-settings