apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openclaw-config
  namespace: openclaw
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 128Gi
  storageClassName: longhorn-fast
