apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: truenas
    role: alert-rules
  name: prometheus-truenas-rules
  namespace: monitoring
spec:
  groups:
    - name: truenas.rules
      rules:
        - alert: TrueNASZfsPoolDegraded
          annotations:
            description: TrueNAS ZFS pool {{$labels.pool}} is in state degraded.
            summary: TrueNAS ZFS pool is degraded.
          expr: truenas_zfs_pool{state="degraded"} == 1
          for: 5m
          labels:
            severity: warning
        - alert: TrueNASZfsPoolOffline
          annotations:
            description: TrueNAS ZFS pool {{$labels.pool}} is in state offline.
            summary: TrueNAS ZFS pool is offline.
          expr: truenas_zfs_pool{state="offline"} == 1
          for: 5m
          labels:
            severity: critical
        - alert: TrueNASZfsPoolFaulted
          annotations:
            description: TrueNAS ZFS pool {{$labels.pool}} is in state faulted.
            summary: TrueNAS ZFS pool is faulted.
          expr: truenas_zfs_pool{state="faulted"} == 1
          for: 5m
          labels:
            severity: critical
        - alert: TrueNASZfsPoolRemoved
          annotations:
            description: TrueNAS ZFS pool {{$labels.pool}} is in state removed.
            summary: TrueNAS ZFS pool is removed.
          expr: truenas_zfs_pool{state="removed"} == 1
          for: 5m
          labels:
            severity: critical
        - alert: TrueNASZfsPoolUnavailable
          annotations:
            description: TrueNAS ZFS pool {{$labels.pool}} is in state unavail.
            summary: TrueNAS ZFS pool is unavailable.
          expr: truenas_zfs_pool{state="unavail"} == 1
          for: 5m
          labels:
            severity: critical
        - alert: TrueNASDiskTemperatureWarning
          annotations:
            description: TrueNAS disk {{$labels.serial}} temperature is {{$value}}째C.
            summary: TrueNAS disk temperature is above 60째C.
          expr: truenas_disk_temperature > 60
          for: 10m
          labels:
            severity: warning
        - alert: TrueNASDiskTemperatureCritical
          annotations:
            description: TrueNAS disk {{$labels.serial}} temperature is {{$value}}째C.
            summary: TrueNAS disk temperature is above 70째C.
          expr: truenas_disk_temperature > 70
          for: 5m
          labels:
            severity: critical