apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-configmap
data:
  config.yaml: |-
    ---
    web:
      port: 8080
    storage:
      type: memory
    metrics: true
    debug: false
    ui:
      title: Status | Gatus
      header: Status
    alerting:
      discord:
        webhook-url: ${DISCORD_WEBHOOK_URL}
    connectivity:
      checker:
        target: 1.1.1.1:53
        interval: 1m
    endpoints:
      - name: sonarr
        group: media
        url: https://sonarr.${domain_name}/ping
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Sonarr is down"
      - name: radarr
        group: media
        url: https://radarr.${domain_name}/ping
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Radarr is down"
      - name: prowlarr
        group: media
        url: https://prowlarr.${domain_name}/ping
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Prowlarr is down"
      - name: qbittorrent
        group: media
        url: https://qbittorrent.${domain_name}/api/v2/app/version
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "qBittorrent is down"
      - name: longhorn
        group: storage
        url: https://longhorn.${domain_name}/v1/healthz
        interval: 1m
        conditions:
          - "[STATUS] == 404"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Longhorn is down"
      - name: prometheus
        group: monitoring
        url: https://prometheus.${domain_name}/-/healthy
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Prometheus is down"
      - name: alertmanager
        group: monitoring
        url: https://alertmanager.${domain_name}/-/healthy
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Alertmanager is down"
      - name: gatus
        group: monitoring
        url: https://status.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Gatus is down"
      - name: capacitor
        group: monitoring
        url: https://capacitor.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Capacitor is down"
      - name: calibre-web
        group: media
        url: https://cwa.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 404"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Calibre Web is down"

      - name: booktok
        group: media
        url: https://booktok.${domain_name}/cwa-check-monitoring
        interval: 1m
        conditions:
          - "[STATUS] == 404"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Booktok is down"
      - name: openbooks
        group: media
        url: http://openbooks.media.svc.cluster.local:8080/
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "OpenBooks is down"
      - name: authentik
        group: auth
        url: https://authentik.${domain_name}/-/health/ready/
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Authentik is down"
      - name: grafana
        group: monitoring
        url: https://grafana.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Grafana is down"
      - name: jellyfin 
        group: media
        url: https://jellyfin.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Jellyfin is down"
      - name: immich
        group: media
        url: https://immich.${domain_name}/api/server/ping
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Immich is down"
      - name: falcosidekick-ui
        group: monitoring
        url: https://falco-ui.${domain_name}/ready
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Falcosidekick UI is down"

      - name: home-assistant
        group: home
        url: https://hass.${domain_name}/
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Home Assistant is down"
      - name: frigate
        group: home
        url: https://frigate.${domain_name}/api/version
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Frigate is down"
      - name: vaultwarden
        group: security
        url: https://vaultwarden.${domain_name}/api/version
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Vaultwarden is down"
      - name: zigbee2mqtt
        group: home
        url: http://home-assistant-zigbee2mqtt.homeassistant.svc.cluster.local:8080/
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "Zigbee2MQTT is down"
      - name: rabbitmq
        group: home
        url: https://mqtt.${domain_name}/
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "RabbitMQ is down"
      - name: clawdbot
        group: apps
        url: https://clawdbot.${domain_name}/health
        interval: 1m
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: discord
            failure-threshold: 5
            send-on-resolved: true
            description: "OpenClaw is down"
