apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr
  namespace: media
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`blog.${domain_name}`) && PathPrefix(`/`)
      services:
        - kind: Service
          name: blog
          namespace: blog
          port: 80
          #unauthenticated access, public blog
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
