apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  namespace: authentik
namespace: authentik
resources:
  - ./release.yaml
  - ./authentik-externalsecret.yaml
  - ./cluster-backup.yaml
  - ./customcss-configmap.yaml
  - ./virtualservice.yaml
patches:
  - path: proxy-outpost-shm-patch.yaml
    target:
      kind: Deployment
      name: ak-outpost-proxy-outpost
