---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sillytavern
  namespace: sillytavern
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`sillytavern.${domain_name}`) && PathPrefix(`/`)
      middlewares:
        - name: ak-outpost-proxy-outpost
      services:
        - kind: Service
          name: sillytavern
          namespace: sillytavern
          port: 8000
