---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: sillytavern
  namespace: sillytavern
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
  hostnames:
    - sillytavern.${domain_name}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: ak-outpost-proxy-outpost
            namespace: authentik
      backendRefs:
        - name: sillytavern
          port: 8000
