machine:
  install:
    image: factory.talos.dev/installer/dc7b152cb3ea99b821fcb7340ce7168313ce393d663740b791c36f6e95fc8586:v1.9.2
    disk: ${install_disk}
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - ${install_ip}${install_cidr}
        routes:
          - network: 0.0.0.0/0
            gateway: ${install_gateway}
            metric: 1024
            mtu: 1500
cluster:
  proxy:
    disabled: true
  network:
    cni:
      name: none
  